<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>

  <appSettings>
    <!--EventLog-->
    <add key="CRMEventLog" value="CRMEventLog"/>
    <add key="CRMEventLogSource" value="CRMEventLogSource"/>
    
    
    <!--REGISTRIES-->
    <add key="RegKey" value="SOFTWARE\VB and VBA Program Settings\CORSPRO\SETTINGS"/>
    <add key="SubKeyDir" value="DIRECTORY_ROOT"/>
    <add key="SubKeyLocalDB" value="SUBDIRECTORY_LOCALDB"/>
      
    <!--DATABASES-->
    <add key="DefaultSubKeyLocalDB" value="User\SalesMgr.mdb"/>
    <add key="ProposalContentDB" value="User\ProposalContent.accdb"/>
    <add key="dwpbd" value="MwB3AGMAMgAyACUAQABpAGUAagBkAA=="/>
    
    
    <!--USER INFORMATION-->
    <add key="UserId" value="UserId"/>
    <add key="ClientId" value="ClientId"/>
    
    
    <!--ETILIZE CONFIGURATION-->
    <add key="Etilize_EndPoint" value="http://ws-na1.spexlive.net/service/rest/"/>
    <add key="ContentReloadDays" value="7"/> 
    <add key="EtilizeSectionName" value="General Information"/>  
    
  </appSettings>
</configuration>